@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@media (max-width: 600px) {
  html {
    /* Font Sizes */
    --lg: 2.8rem;
    --md: 1.6rem;
    --sm: 1.4rem;
  }
}
@media (min-width: 600px) {
  html {
    /* Font Sizes */
    --lg: 3.8rem;
    --md: 2rem;
    --sm: 1.6rem;
  }
}

@media (min-width: 1024px) {
  html {
    /* Font Sizes */
    --lg: 4.5rem;
    --md: 2rem;
    --sm: 1.6rem;
  }
}
